<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3>Admin works!</h3>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/listas' ]">Listas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/crear' ]">Crear</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/login' ]">Login</a>
            </li>
        </ul>
    </div>
    <div class="col-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quae dolore tempore quasi et aliquam. Amet numquam
        eaque asperiores nisi fuga ullam accusantium doloribus obcaecati, ratione natus sint quo quis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet molestiae corporis blanditiis modi ut
        repudiandae fugit minima aspernatur sunt odit ullam quisquam quod excepturi nulla, sapiente ex nam optio.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quidem soluta obcaecati eum veniam sequi
        molestias ipsam esse asperiores ipsum praesentium quas possimus quos, delectus voluptas nam ut sed incidunt.
    </div>
</div>